<p>A&ntilde;adir comentario:</p>
<form method="post" action="/quizes/<%= quizId %>/comments">
	<input type="text" class="form" id="comment" name="comment[texto]" size="30" placeholder="Aqui tu comentario" autofocus>
	<input type="submit" class="form" value="Enviar">
</form>