<h3>Créditos</h3>
<p><img src="/images/tomeu.jpg" height="128" width="128"></p>
<p>
	<ul>
		<li><span>Nombre:</span> Bartomeu Zuzama Vallbona</li>
		<li><span>Pais:</span> Espa&ntilde;a</li>
		<li><span>Provincia:</span> Illes Balears</li>
		<li><span>Ciudad:</span> Manacor (Mallorca)</li>
		<li><span>Contacto:</span> <a href="mailto:tomeuz@hotmail.com">tomeuz@hotmail.com</a></a></li>
	</ul>
</p>
